{% extends 'projects/base.html' %}
{% block title %}Eol Nuha | Cyber City{% endblock %}
{% block description %}Cyber City s a website that I did for a company that wanted to sell technology services to people.{% endblock %}
{% block twitterbanner %}https://eolnuha.com/static/portfolio/images/projects/cyber-white.png{% endblock %}
{% block body %}
    <div id="cyber-city">
        <cyber-city></cyber-city>
    </div>
    <script src="{{ url_for('static', filename='projects/components/cyber-city.js') }}"></script>
{% endblock %}