{% extends 'projects/base.html' %}
{% block title %}Project - Dino Game | Eol Nuha{% endblock %}
{% block twitterbanner %}https://eolnuha.com/static/portfolio/images/projects/dino-5.png{% endblock %}
{% block description %}Dino Game is a desktop application game that is a replication of chrome's dino game made with Python, with a few features added like turning on/off the music, pressing the p key to pause and start and play again screens.{% endblock %}
{% block body %}
    <div id="dino">
        <dino-game></dino-game>
    </div>
    <script src="{{ url_for('static', filename='projects/components/dino-game.js') }}"></script>
{% endblock %}