{% extends 'projects/base.html' %}
{% block title %}Project - E-Commerce | Eol Nuha{% endblock %}
{% block twitterbanner %}https://eolnuha.com/static/portfolio/images/projects/commerce-1.png{% endblock %}
{% block description %}This project is an e-commerce website for purchasing store products online. This was made for a customer in Kosovo for his business.{% endblock %}
{% block body %}
    <div id="e-commerce">
        <e-commerce></e-commerce>
    </div>
    <script src="{{ url_for('static', filename='projects/components/e-commerce.js') }}"></script>
{% endblock %}