{% extends 'projects/base.html' %}
{% block title %}Project - Movie Freaks | Eol Nuha{% endblock %}
{% block twitterbanner %}https://eolnuha.com/static/portfolio/images/projects/movie-home.png{% endblock %}
{% block description %}Movie Freaks is a website for streaming movies online for FREE. This project took me 5-6 months to complete totally.{% endblock %}
{% block body %}
    <div id="movie-freaks">
        <movie-freaks></movie-freaks>
    </div>
    <script src="{{ url_for('static', filename='projects/components/movie-freaks.js') }}"></script>
{% endblock %}