{% extends 'projects/base.html' %}
{% block title %}Project - Sorting Visualizer | Eol Nuha{% endblock %}
{% block twitterbanner %}https://eolnuha.com/static/portfolio/images/sorting-visualizer1.webp{% endblock %}
{% block description %}Sorting Visualizer is a project created with JavaScript and Vue.js where it visualizes the process of popular sorting algorithms{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='projects/assets/sorting-style.css') }}">
    <script src="{{ url_for('static', filename='projects/assets/helper-functions.js') }}"></script>
    <script src="{{ url_for('static', filename='projects/sorting-algorithms/merge-sort.js') }}"></script>
    <div id="sorting">
        <sorting></sorting>
    </div>
    <script src="{{ url_for('static', filename='projects/components/sorting.js') }}"></script>
{% endblock %}