{% extends 'projects/base.html' %}
{% block title %}Project - Tower War Game | Eol Nuha{% endblock %}
{% block twitterbanner %}https://eolnuha.com/static/portfolio/images/projects/tower-1.png{% endblock %}
{% block description %}Tower War is a desktop application game, where you place towers to defeat the monsters that are coming. There are three difficulties with twenty levels for each. If you beat them all you win.{% endblock %}
{% block body %}
    <div id="tower">
        <tower-war></tower-war>
    </div>
    <script src="{{ url_for('static', filename='projects/components/tower-war.js') }}"></script>
{% endblock %}