{% extends 'blog/base.html' %}
{% block title %}Author | {{ author.first_name }} {{author.last_name}}{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/assets/css/views/author.css') }}">
    <style>
        
    </style>
    <!-- Header -->
    <header class="" id="navbar">
        <nav-bar active=""></nav-bar>
    </header>
    
    <div class="heading-page header-text d-none"></div>
    
    <div id="author-details">
        <author-details slug="{{ author.slug }}"></author-details>
    </div>
{% endblock %}
{% block extrascripts %}
    <script src="{{ url_for('static', filename='blog/components/author-details.js') }}"></script>
{% endblock %}