<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Official Blog of Eol Nuha - Learn to code!">
    <meta name="keywords" content="Blog, eol blog, eolnuha, w3, stackoverflow, w3schools, how to, codepen, leetcode, HTML, Python, CSS, JavaScript, How to, Java, C, C++, C#, jQuery, Bootstrap, Colors, W3.CSS, MySQL, React, AI, Git, Data Science, Code Game, Tutorials, Programming, Web Development, Courses, Lessons, References, Examples, Learn to code, Source code, Website, {{ keywords }}" />
    <meta name="author" content="Eol Nuha">
    <meta name="robots" content="index, follow" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="{{ self.title() }}" />
    <meta name="twitter:description" content="Official Blog of Eol Nuha - Your perfect environment to learn coding!" />
    <meta name="twitter:image" content="{% block twitterbanner %}https://eolnuha.com/static/blog/assets/images/twitter-image1.jpg{% endblock %}"/>
    <meta property="og:image" content="{{ self.twitterbanner() }}"/>
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1920" />
    <meta property="og:image:height" content="1080" />
    <meta name="google-site-verification" content="q6lq8jTKt4nMLw398smBcJ8bp7iZ6ficgsq0QdVWTbY" />
    <meta name="verified-code" content="fb495f14-ecd4-4800-b7de-1cc07674630f">

    <title>{% block title %}{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='blog/assets/images/blog-headerimg.png') }}">
    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='blog/vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">


    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/assets/css/owl.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.15.0/themes/prism.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/assets/css/blog.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/assets/css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/assets/css/darkmode-toggle-icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/assets/css/dark-mode.css') }}">
    
    <!--Scripts-->
    <!-- <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8400632007706493" crossorigin="anonymous"></script> -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script> const eventBus = new Vue();</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js" integrity="sha512-L03kznCrNOfVxOUovR6ESfCz9Gfny7gihUX/huVbQB9zjODtYpxaVtIaAkpetoiyV2eqWbvxMH9fiSv5enX7bw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JJTX86C7W7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JJTX86C7W7');
    </script>
  </head>
  <body id="body">

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <div id="cookie-banner">
        <cookie-banner></cookie-banner>
    </div>

    {% block body %}{% endblock %}

    
    <footer id="footer">
      <footer-section></footer-section>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ url_for('static', filename='blog/vendor/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='blog/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

    <!-- Additional Scripts -->
    <script src="{{ url_for('static', filename='blog/assets/js/custom.js') }}"></script>
    <script src="{{ url_for('static', filename='blog/assets/js/owl.js') }}"></script>
    <script src="{{ url_for('static', filename='blog/assets/js/slick.js') }}"></script>
    <script src="{{ url_for('static', filename='blog/assets/js/isotope.js') }}"></script>
    <script src="{{ url_for('static', filename='blog/assets/js/helper-functions.js') }}"></script>
    <script src="{{ url_for('static', filename='blog/assets/js/api.js') }}"></script>
    <script src="{{ url_for('static', filename='blog/components/nav.js') }}"></script>
    <script src="{{ url_for('static', filename='blog/components/footer.js') }}"></script>
    <script src="{{ url_for('static', filename='portfolio/components/cookie-banner.js') }}"></script>
    {% block extrascripts %}{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/prism.min.js" integrity="sha512-RDQSW3KoqJMiX0L/UBgwBmH1EmRYp8LBOiLaA8rBHIy+7OGP/7Gxg8vbt8wG4ZYd29P0Fnoq6+LOytCqx3cyoQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.17.1/components/prism-python.min.js"></script>
  </body>
</html>