{% extends 'blog/base.html' %}
{% block title %}Contact Us | Eol Nuha Blogs{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ url_for('static', filename='blog/assets/css/views/contact-us.css') }}">
    <!-- Header -->
    <header class="" id="navbar">
        <nav-bar active="contact"></nav-bar>
    </header>

    <div class="heading-page header-text">
        <section class="page-heading">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <div class="text-content">
                  <h4>contact us</h4>
                  <h2>let’s stay in touch!</h2>
                </div>
              </div>
            </div>
          </div>
        </section>
    </div>
    <div class="container">
    {% include 'horizontal-ads.html' %}
    </div>

    <section class="contact-us" id="contact-us">
        <contact-us></contact-us>
    </section>

{% endblock %}
{% block extrascripts %}
    <script src="{{ url_for('static', filename='blog/components/contact.js') }}"></script>
{% endblock %}