{% extends 'blog/base.html' %}
{% block title %}{{ blog.title }} | Eol Nuha Blogs{% endblock %}
{% block body %}
<link rel='dns-prefetch' href='//static.addtoany.com' />
{% block googleads %}<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8400632007706493" crossorigin="anonymous"></script>{% endblock %}
<!-- Header -->
<header class="" id="navbar">
    <nav-bar active=""></nav-bar>
</header>


<div id="blog-details">
    <blog-details blog-slug="{{ blog.slug }}" entry-slug="{{ entry.slug }}">
    </blog-details>
</div>

{% endblock %}
{% block extrascripts %}
<script src="{{ url_for('static', filename='blog/components/blog-details.js') }}"></script>
<script src="{{ url_for('static', filename='blog/components/blogs-sidemenu.js') }}"></script>
<script async src="https://static.addtoany.com/menu/page.js"></script>
{% endblock %}