{% extends 'blog/base.html' %}
{% block title %}{{ blog.title }} | Eol Nuha Blogs{% endblock %}
{% block body %}
<link rel='dns-prefetch' href='//static.addtoany.com' />

<style>
    @media (max-width: 769px) {
        html {
            font-size: 13px;
        }
    }

    .navbar-toggler {
        padding: 0.35rem 0.95rem;
        font-size: 1.5rem;
    }
</style>

<!-- Header -->
<header class="" id="navbar">
    <nav-bar active=""></nav-bar>
</header>

<div class="heading-page header-text">
    <h6 class="pl-2" style="font-size: 16px;">
        <a href="{{'/' + blog.entry.slug}}">{{ blog.entry.title }}</a> > <a href="{{blog.slug}}">{{blog.title}}</a>
    </h6>
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">
                        <h2>{{blog.title}}</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<div class="container">
    {% include 'horizontal-ads.html' %}
</div>

<section class="blog-posts grid-system mt-4">
    <div class="container">
        <div class="row">
            <div class="col-lg-9" id="blog-details">
                <blog-details 
                    blog-slug="{{ blog.slug }}" 
                    entry-slug="{{ entry.slug }}">
                </blog-details>
            </div>
            <div class="col-lg-3" id="sidemenu">
                <sidemenu 
                    entry-slug="{{ entry.slug }}">
                </sidemenu>
                {% include 'sidebar-ads.html' %}
            </div>
        </div>
    </div>
</section>

<div class="container">
    {% include 'square-ads.html' %}
</div>
{% endblock %}
{% block extrascripts %}
<script src="{{ url_for('static', filename='blog/components/blog-details.js') }}"></script>
<script src="{{ url_for('static', filename='blog/components/blog-comments.js') }}"></script>
<script src="{{ url_for('static', filename='blog/components/blogs-sidemenu.js') }}"></script>
<script async src="https://static.addtoany.com/menu/page.js"></script>

<script src="{{ url_for('static', filename='blog/components/horizontal-ads.js') }}"></script>

<!--<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>-->
{% endblock %}