{% extends 'blog/base.html' %}
{% block title %}Search Blogs | {{ query }}{% endblock %}
{% block body %}
    <!-- Header -->
    <header class="" id="navbar">
        <nav-bar active=""></nav-bar>
    </header>
    
    <div id="search-blogs">
        <search-blogs 
            query="{{ query }}">
        </search-blogs>
    </div>
{% endblock %}
{% block extrascripts %}
    <script src="{{ url_for('static', filename='blog/components/search-blogs.js') }}"></script>
    <script src="{{ url_for('static', filename='blog/components/blogs-sidemenu.js') }}"></script>
{% endblock %}